@import url(../../assets/fonts/OleoScript/OleoScript.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }

  .animatable {
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
  }
  
  /* show objects being animated */
.animated {
    visibility: visible;
    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }

  @-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
  
  
.header-cover{
    background-image: url(../../assets/images/main-page-header.png);
    height: 550px !important;
}
.user-profile .header-cover::after{
    background: transparent;
}
.head{height: 750px;}
.img-section img {
    width:180px;
    height: 150px;
}
.nav-tabs .nav-item .nav-link.active{
    background: transparent;
    border-bottom: 2px solid #397DD6;
}
#ui-widget-body{margin-top:2px;
    background: linear-gradient(180deg, #F4F9FF 26.56%, #E9F2FF 100%);
    box-shadow: 0px 4px 19px 2px rgba(0, 0, 0, 0.25);}
#bg-shape{
    background-image: url(../../assets/images/background-shape.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.cost-plan{
    font-family: 'Roboto Mono';
    font-size: 56px;
    font-weight: 300;
}
.cost-plan sup {
    top: -2em;
}
.f-weight-400{
font-weight: 400;
}
.f-weight-500{
    font-weight: 500;
}
.font-fam-roboto{
    font-family: 'Roboto Mono';
}
.price-card{
    min-height: 631px;
    max-height: 750px;
    transition: transform .2s;
}

.price-card:hover {
    transform: scale(1.1);
}
  
.flipster__button svg {
    color: #004DFF;
    font-size: 6px;
}
.flipster__item{
    height: 400px;
}
.flipster__item--current{
    height: 420px;
}
#flat .card{
    width: 400px;
}
#bg-rectangle{
    background-image: url('../images/rectangle-10.png');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    border-radius: 6px;
    height: 167px;
}
.hre{
  
    border-radius: 3px;
    height: 154px;

}
.hre img.img-fluid{
    width: 230px;
    height: 154px;
}
.hr-1{
    background: linear-gradient(
        180deg
        , #77E08E 0%, #77E0B4 100%);
    
}
.hr-2{
    background: linear-gradient(180deg, #77E0CD 0%, #77D3E0 100%);
    
}
.hr-3{
    background: linear-gradient(180deg, #55C2FF 0%, #5599FF 100%);
    
}
.hr-4{
    background: linear-gradient(180deg, #628DFB 0%, #6F62FB 100%);
    
}

.hr-department-icons {
    position:absolute; margin:auto; left:0px; right:0px; bottom:0px; top:0px;    margin-top: 38px;
}
#shape-footer{
    background-image: url(../images/footer-shape.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.flipster{
    max-height: 480px;
}
ul.flipster__container {
    min-height: 450px !important;
}
.thick-border{
    border: 2px solid;
}
.hvr-efft a:hover{
color: #397DD6;
}
.logo {width:177px; }

@media (max-width: 767px){
   
    #shape-footer {
        background-size: contain;
    }
    .navbar-toggler-icon{
        margin-top: -20px;
        margin-right: 10px;
    }
.navbar-toggler .navbar-toggler-icon div{
    background: #fff;
    width: 25px;
    height: 2px;
    vertical-align: middle;
    content: "";
    margin-top: 4px;
}
.mb-mrgn-top-0{
margin-top: 0px !important;
}
.mb-mrgn-top-3 {
    margin-top : 0.75rem !important
}
.mb-mrgn-right-3{
    margin-right: 1rem !important;
    }
.img-section img {
    width:150px;
    height: 130px;
}
#ui-widget-body .card-body{
    display: unset !important;
}
#flat .card{
    width: 300px;
}
.text-left-m{
    text-align: left !important;
}
.mobile-btn{
    padding: 5px 20px !important;
}
.logo {width:100px; margin-bottom: 20px; }

}@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
}
}