@import url(../../assets/fonts/OleoScript/OleoScript.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
  
.header-cover-bg {

    background-image: url(../../assets/images/main-page-header.png);
    height: 580px !important;
    position: absolute;
    width: 102%;
    background-repeat: no-repeat;
    background-size: cover;

}
.user-profile .header-cover::after{
    background: transparent;
}
/* .head{height: 750px;} */

.banner-container {
    margin-top: 7rem !important;
}
.dashboardbannerimg {
    max-width: 680px;
    max-height: 480px;
    width: 100%;
    border-radius: 15px;
    margin-right: 4rem;
}

.img-section img {
    width:180px;
    /*height: 150px;*/
}

.footer-getstarted img {
    width: 15px;
}

.learn-more-txt img {
    width: 15px;
}

/*Zoom In*/
.imgzoomanim {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.imgzoomanim:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.nav-tabs .nav-item .nav-link.active{
    background: transparent;
    border-bottom: 2px solid #397DD6;
}
#ui-widget-body{margin-top:2px;
    background: linear-gradient(180deg, #F4F9FF 26.56%, #E9F2FF 100%);
    box-shadow: 0px 4px 19px 2px rgba(0, 0, 0, 0.25);}
#bg-shape{
    background-image: url(../../assets/images/background-shape.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.cost-plan{
    font-family: 'Roboto Mono';
    font-size: 56px;
    font-weight: 300;
}
.cost-plan sup {
    top: -2em;
}
.f-weight-400{
font-weight: 400;
}
.f-weight-500{
    font-weight: 500;
}
.font-fam-roboto{
    font-family: 'Roboto Mono';
}
.price-card{
    min-height: 631px;
    max-height: 750px;
    transition: transform .2s;
}

.price-card:hover {
    transform: scale(1.1);
}
  
.flipster__button svg {
    color: #004DFF;
    font-size: 6px;
}
.flipster__item{
    height: 400px;
}
.flipster__item--current{
    height: 420px;
}
#flat .card{
    width: 400px;
}
#bg-rectangle{
    background-image: url('../images/rectangle-10.png');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    border-radius: 6px;
    height: 167px;
    background-size: cover;
}
.hre{
  
    border-radius: 3px;
    height: 154px;
    min-width: 230px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}
.hre img.img-fluid{
    width: 230px;
    height: 154px;
}
.hr-1{
    background: linear-gradient(
        180deg
        , #77E08E 0%, #77E0B4 100%);
    
}
.hr-2{
    background: linear-gradient(180deg, #77E0CD 0%, #77D3E0 100%);
    
}
.hr-3{
    background: linear-gradient(180deg, #55C2FF 0%, #5599FF 100%);
    
}
.hr-4{
    background: linear-gradient(180deg, #628DFB 0%, #6F62FB 100%);
    
}

.hr-department-icons {
    /*position:absolute;*/ margin:auto; left:0px; right:0px; bottom:0px; top:0px;    margin-top: 44px;
}
#shape-footer{
    background-image: url(../images/footer-shape.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.flipster{
    max-height: 480px;
}
ul.flipster__container {
    min-height: 450px !important;
}
.thick-border{
    border: 2px solid;
}
.hvr-efft a:hover{
color: #397DD6;
}
.logo {width:177px; }

.tw-link, .fb-link, .yt-link {
    display: inline-block;
    position: relative;
    width: 30px;
}

.tw-link .tw-img-top, .fb-link .fb-img-top, .yt-link .yt-img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.tw-link:hover .tw-img-top,  .fb-link:hover .fb-img-top, .yt-link:hover .yt-img-top {
    display: inline;
}


@media (max-width: 767px){
   
    #shape-footer {
        background-size: contain;
    }
    .navbar-toggler-icon{
        margin-top: -20px;
        margin-right: 10px;
    }
.navbar-toggler .navbar-toggler-icon div{
    background: #fff;
    width: 25px;
    height: 2px;
    vertical-align: middle;
    content: "";
    margin-top: 4px;
}
.mb-mrgn-top-0{
margin-top: 0px !important;
}
.mb-mrgn-top-3 {
    margin-top : 0.75rem !important
}
.mb-mrgn-right-3{
    margin-right: 1rem !important;
    }
.img-section img {
    width:150px;
    /*height: 130px;*/
}
#ui-widget-body .card-body{
    display: unset !important;
}
#flat .card{
    width: 300px;
}
.text-left-m{
    text-align: left !important;
}
.text-center-m{
    text-align: center !important;
}
.w-100-m{
    width: 100% !important;
}
.mobile-btn{
    padding: 5px 20px !important;
}
.logo {width:100px; margin-bottom: 20px; }
.hre{
  
    height: 118px;
    min-width: 180px;

}.hr-department-icons{
    width: 50px;
    height: 50px;
    margin-top: 34px;
}

}@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 3rem;
}
}

/*The FQA Modal*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}